/* GLOBAL */
html {
    scroll-behavior: smooth;
}

main {
    min-height: calc(100vh - 286px);
}

body {
    font-family: 'Nunito';
}

h2 {
    font-size: 2.5rem;
}

/* / GLOBAL */

/* HEADER */

header {
    min-height           : 70vh;
    background-attachment: fixed;
}

h1 {
    font-size: 5rem;
}

/* HEADER */

/* NAVBAR */

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    font-size: 1.2rem;
}

/* / NAVBAR */

/* POSTS ON MAIN PAGE */

.post-image,
.first-image,
.image {
    height             : 250px;
    width              : 100%;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.first-image {
    height: 400px !important;
}

.image {
    height: 600px !important;
}

.translatey:hover h3 {
    transform : translateY(5px);
    transition: all 0.4s;
}

.translatey:hover p {
    transform : translateY(-5px);
    transition: all 0.4s;
}

.topic {
    top : -10px;
    left: -10px;
}

.topic:hover {
    background-color: lightgrey !important;
    color           : black;
}

/* / POSTS ON MAIN PAGE */

/* ABOUT PAGE */

.about p {
    font-size: 1.2rem;
}

.about-image {
    width              : 100%;
    height             : 300px;
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    opacity            : 1;
    transition         : 0.5s ease;
}

.about-image:hover {
    opacity: 0.7;
}

.about-image1 {
    background-image: url(https://picsum.photos/id/247/300/300);
}

.about-image2 {
    background-image: url(https://picsum.photos/id/547/300/300);
}

.about-image3 {
    background-image: url(https://picsum.photos/id/267/300/300);
}

/* / ABOUT PAGE */

/* DROPDOWN BUTTONS */
.dropbtn {
    cursor   : pointer;
    font-size: 1.2rem;
}

.dropbtn:hover,
.dropbtn:focus {
    color: #007bff;
}

.dropdown-content {
    display         : none;
    background-color: #f1f1f1;
    min-width       : 160px;
    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index         : 1;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color           : black;
}

.show {
    display: block;
}

/*  / DROPDOWN BUTTONS */